<head>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    {% for css in layout.css %}
    <link rel="stylesheet" href='{{ css | append: ".css" | prepend: "/css/" | prepend: site.baseurl }}'>
    {% endfor %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <link rel="preconnect" href="{{site.upsta}}">

    <meta name="google-site-verification" content="2py26krkLENOsNDN0dIEdCKPIobOK8EGSPt-zAQRNzg" />
    <meta name="google-site-verification" content="3gn1Fu1-3fbUK62TZpOUA0nfVTtVF5kV7oDV9ebzpOE" />

    <meta property="og:title" content="Chovatelská stanice Psí ranč"/>
    <meta property="og:type" content="company"/>
    <meta property="og:url" content="http://psi-ranc.cz/"/>
    <meta property="og:image" content="logo.png"/>
    <meta property="fb:page_id" content="197703706921458" />
    <meta property="fb:app_id" content="151389024920832" />
    <meta property="fb:admins" content="1134815611" />
    <meta property="og:site_name" content="Psí ranč"/>
    <meta property="og:latitude" content="55.14734583333333"/>
    <meta property="og:longitude" content="14.500365277777778"/>
    <meta property="og:description"
          content="Chovatelská stanice Psí ranč se zabývá chovem plemene hovawart."/>

    <meta name="date" content="{{ site.time }}"/>
</head>
